.block {
  text-align: center;
    display:flex;
    padding-top:10%;
    justify-content:center;
    flex-direction:row;  
    font-size: 150%;
}


.restarttraining {
  text-align: center;
    padding-top:5%;
    justify-content:center;
    font-size: 150%;
}

.translatetext {
	margin-top: 4%;
}

