.introsymbol {
  width: 10%;
  height: 10%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;    
  border: 2px solid LightGrey;
  border-radius: 5px;    
}

.introText{
  border-style: solid;
  border-width: 0px;  
}

.center {
	text-align: center;	
}

.translate {
	margin-top: 1%;
}

.title {
	font-size: 200%;
}

.text {
	font-size: 150%;	
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}